always-auth=true
registry=https://registry.npmjs.org
@kaiju-lib:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=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
